@page "/todo-list"
@inject HttpClient Http;
@inject Configuration.IConfiguration Configuration;
@using ToDo.Models;

<h1>ToDo List</h1>

@if (ToDos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <tbody>
            @foreach (var ToDo in ToDos)
            {
                <ToDoItem 
                    ToDo="@ToDo" 
                    OnCheck="@(()=>@UpdateToDo(@ToDo))"   
                    OnDelete="@(()=>@DeleteToDo(@ToDo.Id))" 
                />
            }
        </tbody>
    </table>
}

@code {
    IList<ToDoModel> ToDos;

    protected override async Task OnInitAsync()
    {
        ToDos = await Http.GetJsonAsync<IList<ToDoModel>>(Configuration.apiUrl + "todo");
    }

    async Task DeleteToDo(int Id) 
    {
        await Http.DeleteAsync(Configuration.apiUrl + "todo?id=" + Id);
        
        ToDos = ToDos.Where(i=>i.Id != Id).ToList();
    }

    async Task UpdateToDo(ToDoModel ToDo)
    {
        ToDo.Completed = !ToDo.Completed;
        await Http.PutJsonAsync(Configuration.apiUrl + "todo", ToDo);
    }
}
